.header{
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.header .icon-logo{
    height: 100%;
}
.index-page-select-type-ticket{
    width: 100%;
    height:calc(100vh - 60px);
}
.checked{
    background-color: #919191;
    color: #000;
}
.group-select-type-ticket{
    width: 100%;
    height: auto;
}
.item-select-group{
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}
.label-radio-btn{
    position: relative;
    bottom: 3px;
}
.group-select-type-ticket{
    margin: 10px 0;
}
.group-btn-send-ticket button{
    padding: 8px 25px;
    background-color: unset;
    border: 1px solid #EF2D2B;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    color: #EF2D2B;
    outline: none;
}
.group-btn-send-ticket button:hover{
    background-color:#EF2D2B ;
    color: #ffffff;
}
.group-select-type-ticket-select-input select{
    padding: 5px 10px;
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    outline: none;
    right: 10px;
}
.icon-index-page img{
    width: 180px!important;
}
.group-item-ticket{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: calc(100vh - 60px);
}
.part-filter{
    width: 25%;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    border: 1px solid #d4d4d4;
}
.part-ticket{
    width: 74%;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    border: 1px solid #d4d4d4;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #dbdbdb;
    border-radius: 100px;
}
.item-filter{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}
.item-filter select{
    width: 100%;
    padding: 10px 0;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #EF2D2B;
    border-radius:10px;
}
.item-filter input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #EF2D2B;
    border-radius:10px;
}
.part-ticket li{
    width: 100%;
    padding: 15px;
    height: 150px;
    list-style: none;
    margin: 25px 0;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    border: 1px solid #c3c3c3;
}
.part-ticket li img{
    height: 100%;
}
.part-ticket .vip{
    box-shadow: 1px 1px 10px rgb(241, 210, 12);
    border: none!important;
}
.view-des-ticket{
    padding: 10px 0;
    min-width: 200px;
    margin: 0 20px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
    background-color: #f8f8f8;
}
.title-name-ticket p{
    color:#EF2D2B ;
}
.btn-buy-ticket{
    width: 100%;
    display: block;
    padding: 10px 0;
    box-sizing: border-box;
    background-color:#EF2D2B ;
    color: white;
    border: 1px solid #EF2D2B;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
    margin: 10px 0;
}
.btn-buy-ticket:hover{
    background-color: unset;
    color:#EF2D2B ;
}
body {
    background: #f2f2f2;
    font-family: "proxima-nova-soft", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
}
.post-module .thumbnail {
    background: #000000;
    height: 400px;
    overflow: hidden;
}
.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.post-module .thumbnail .date .day {
    font-size: 18px;
}
.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
}
.post-module .thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #e74c3c;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
}
.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400;
}
.post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}
.post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
}
.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}
.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}
.container {
    max-width: 800px;
    min-width: 640px;
    margin: 0 auto;
}
.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}
.container .column {
    width: 50%;
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.container .column .demo-title {
    margin: 0 0 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.container .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
.container .info span {
    color: #666666;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #e74c3c;
}
/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%;
}
